<div class="h-full flex flex-col">

  <!-- Logo -->
  <div class="h-16 flex items-center px-4 border-b">

    <div class="text-2xl"><i class="fas fa-truck-fast text-[#16A34A]"></i></div>

    <div *ngIf="!collapsed" class="ml-2">
      <div class="font-bold">ShipEase</div>
      <div class="text-sm text-green-600">Customer Panel</div>
    </div>

  </div>

  <!-- Menu -->
  <nav class="flex-1 p-2">

    <a
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      routerLinkActive="bg-green-100 text-green-600"
      class="flex items-center p-3 rounded-lg hover:bg-gray-100 transition">

      <span><i [class]="item.icon"></i></span>

      <span *ngIf="!collapsed" class="ml-3">
        {{item.label}}
      </span>

    </a>

  </nav>

</div>
